<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  
  <form [formGroup]="loginForm" (submit)="login()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input
        #email
        formControlName="email"
        type="email"
        placeholder="someone@example.com"
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty"
    >
      <p>Please enter a valid email address.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input
        #password
        formControlName="password"
        type="password"
        placeholder="Type your password..."
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty"
    >
      <p>Password must have more than 6 characters.</p>
    </ion-item>

    <button
      ion-button
      block
      type="submit"
      color="dark"
      [disabled]="!loginForm.valid || !loginForm.dirty"
    >
      Login
    </button>

  </form>

  <button ion-button block outline (click)="goToResetPassword()" color="dark">
    I forgot my password 🙁
  </button>

  <button ion-button block outline (click)="signUp()" color="dark">
    Sign Up
  </button>

</ion-content>