<ion-tabs color="dark">

  <ion-tab
    [root]="RecentMessagesRoot"
    tabTitle="Messages"
    tabIcon="chatboxes"
  >
  </ion-tab>

  <ion-tab
    [root]="FriendsRoot"
    tabBadge="{{ friendRequestsCount > 0 ? friendRequestsCount : '' }}"
    tabTitle="Friends"
    tabIcon="people"
    tabBadgeStyle="danger"
  >
  </ion-tab>

  <ion-tab
    [root]="ProfileRoot"
    tabTitle="Profile"
    tabIcon="person"
  >
  </ion-tab>

  <ion-tab
    (ionSelect)="logout()"
    tabTitle="Logout"
    tabIcon="exit"
  >
  </ion-tab>
  
</ion-tabs>