<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      To: {{ chatInfo?.friend?.firstName + ' ' + chatInfo?.friend?.lastName }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>
    <ion-item *ngFor="let message of chatInfo?.messages">
      <chat-bubble
        [message]="message"
        [ownerUid]="chatInfo?.uid"
        [friendDisplayName]="chatInfo?.friend?.firstName + ' ' + chatInfo?.friend?.lastName"
      >
      </chat-bubble>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="messageForm" (submit)="sendMessage()" novalidate>

      <ion-item>
        <ion-textarea
          autosize
          formControlName="text"
          type="text"
          placeholder="Type your message here..."
          required
        >
        </ion-textarea>

        <button
          item-right
          large
          block
          icon-only
          type="submit"
          [disabled]="!messageForm.valid || !messageForm.dirty"
        >
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-item>

    </form>
  </ion-toolbar>
</ion-footer>
