<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <form [formGroup]="profileForm" (submit)="save()" novalidate>

    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input
        formControlName="firstName"
        type="text"
        placeholder="John"
        [class.invalid]="!profileForm.controls.firstName.valid && profileForm.controls.firstName.dirty"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!profileForm.controls.firstName.valid && profileForm.controls.firstName.dirty"
    >
      <p>Please enter a first name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input
        formControlName="lastName"
        type="text"
        placeholder="Doe"
        [class.invalid]="!profileForm.controls.lastName.valid && profileForm.controls.lastName.dirty"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!profileForm.controls.lastName.valid && profileForm.controls.lastName.dirty"
    >
      <p>Please enter a last name.</p>
    </ion-item>

    <button
      ion-button
      block
      type="submit"
      color="dark"
      [disabled]="!profileForm.valid || !profileForm.dirty"
    >
      Save
    </button>
  
  </form>

</ion-content>
