<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Sign Up
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  
  <form [formGroup]="signUpForm" (submit)="signUp()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="someone@example.com"
        [class.invalid]="!signUpForm.controls.email.valid && signUpForm.controls.email.dirty"
      >
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signUpForm.controls.email.valid  && signUpForm.controls.email.dirty">
      <p>Please enter a valid email address.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Type your password..."
        [class.invalid]="!signUpForm.controls.password.valid && signUpForm.controls.password.dirty"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!signUpForm.controls.password.valid && signUpForm.controls.password.dirty"
    >
      <p>Your password must have more than 6 characters.</p>
    </ion-item>

    <button
      ion-button
      block
      type="submit"
      color="dark"
      [disabled]="!signUpForm.valid || !signUpForm.dirty"
    >
      Sign Up
    </button>

  </form>

</ion-content>