<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Recent Messages
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>
    <ion-item class="message" *ngFor="let message of messages" (click)="openMessage(message)">
      <span>{{ message?.friend?.firstName + ' ' + message?.friend?.lastName }}</span>
      <span class="timestamp">{{ getTimestamp(message?.timestamp) }}</span>
      <p class="text">{{ message?.text ? message.text : 'No previous messages.' }}</p>
    </ion-item>
  </ion-list>

</ion-content>
