page-recent-messages {
    $primary-color: #f2f2f2;
    $secondary-color: #e6f2ff;;

    .message {
        background-color: $primary-color;

        .text {
            margin: 0.2em 0 0 0.2em;
        }
    }

    .timestamp {
        font-size: 0.65em;
        float: right;
        font-weight: lighter;
    }
}
