<ion-header>
  <ion-navbar no-border-bottom color="dark">
    <ion-title>
      Friends
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="light">
    <ion-segment [(ngModel)]="currentTab" color="dark">
      <ion-segment-button value="friend-list">
        Friend List
      </ion-segment-button>
      <ion-segment-button value="friend-requests">
        Friend Requests
      </ion-segment-button>
      <ion-segment-button value="add-friend">
        Add a Friend
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="currentTab">

    <div *ngSwitchCase="'friend-list'">

      <ion-list *ngIf="friends?.length" no-lines>
        <ion-item *ngFor="let friend of friends">
          {{ friend.firstName + ' ' + friend.lastName }}
          <button
            ion-button
            item-end
            round
            color="default"
            (click)="openChat(friend)"
          >
            <ion-icon name="chatbubbles"></ion-icon>
          </button>
          <button
            ion-button
            item-end
            round
            color="danger"
            (click)="removeFriend(friend)"
          >
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <ion-card *ngIf="!friends?.length">
        <ion-card-header>
          It's empty!
        </ion-card-header>
        <ion-card-content>
          Your friend list is empty, try sending a friend request to other users.
        </ion-card-content>
      </ion-card>

    </div>

    <div *ngSwitchCase="'friend-requests'">

      <ion-list *ngIf="friendRequests?.length" no-lines>
        <ion-item *ngFor="let friendRequest of friendRequests">
          {{ friendRequest.firstName + ' ' + friendRequest.lastName }}
          <button
            ion-button
            item-end
            small
            color="secondary"
            (click)="acceptFriendRequest(friendRequest)"
          >
            <ion-icon name="checkmark"></ion-icon>
          </button>
          <button
            ion-button
            item-end
            small
            color="danger"
            (click)="declineFriendRequest(friendRequest)"
          >
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <ion-card *ngIf="!friendRequests?.length">
        <ion-card-header>
          No friend requests
        </ion-card-header>
        <ion-card-content>
          You have no friend requests pending at the moment.
        </ion-card-content>
      </ion-card>

    </div>
    
    <div *ngSwitchCase="'add-friend'">

      <ion-list *ngIf="users?.length" no-lines>
        <ion-item *ngFor="let user of users">
          {{ user.firstName + ' ' + user.lastName }}
          <button
            ion-button
            item-end
            small
            color="dark"
            (click)="addFriend(user)"
          >
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <ion-card *ngIf="!users?.length">
        <ion-card-header>
          No suggestions
        </ion-card-header>
        <ion-card-content>
          We have no friendship suggestions for you right now, try again later.
        </ion-card-content>
      </ion-card>

    </div>

  </div>

</ion-content>
