<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Reset Password
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="someone@example.com"
        [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty"
    >
      <p>Please enter a valid email address.</p>
    </ion-item>

    <button
      ion-button
      block
      type="submit"
      color="dark"
      [disabled]="!resetPasswordForm.valid || !resetPasswordForm.dirty"
    >
      Reset Password
    </button>

  </form>

</ion-content>